.gallery-container{

width:100%;

}



.main-gallery{

position:relative;

height:430px;

background:white;

border-radius:25px;

padding:15px;

overflow:hidden;

}



.main-gallery-image{

width:100%;

height:100%;

object-fit:cover;

border-radius:18px;

transition:0.4s ease;

}





.zoom-image{

transform:scale(1.5);

cursor:zoom-in;

}





.gallery-heart{

position:absolute;

top:20px;

right:20px;

width:45px;

height:45px;

border-radius:50%;

border:none;

background:white;

font-size:22px;

cursor:pointer;

}





.gallery-zoom{

position:absolute;

right:20px;

bottom:20px;

width:45px;

height:45px;

border-radius:50%;

border:none;

background:white;

font-size:22px;

cursor:pointer;

}





.gallery-thumbnails{

display:flex;

gap:12px;

margin-top:15px;

}





.thumbnail{

width:65px;

height:65px;

border-radius:10px;

overflow:hidden;

border:2px solid transparent;

cursor:pointer;

}





.thumbnail img{

width:100%;

height:100%;

object-fit:cover;

}





.active-thumb{

border:2px solid #556b2f;

}