.marketplace{
background:#faf8f3;
min-height:100vh;
padding:30px 50px;
font-family:Poppins,sans-serif;
}


.market-nav{
display:flex;
align-items:center;
justify-content:space-between;
background:white;
padding:20px 30px;
border-radius:20px;
}


.market-nav h2{
color:#4d6b2f;
}





.active{
color:#55752e;
font-weight:bold;
}


.market-nav input{
border:1px solid #ddd;
padding:12px 20px;
border-radius:30px;
}




.hero{

margin-top:30px;
height:330px;
border-radius:30px;
background:#e9e8d5;
display:flex;
align-items:center;
justify-content:space-between;
overflow:hidden;
padding-left:80px;

}


.hero h1{

font-size:45px;
color:#31421d;

}


.hero p{

font-size:18px;
width:400px;

}


.hero button{

background:#55752e;
color:white;
border:none;
padding:15px 35px;
border-radius:30px;

}


.hero img{

height:100%;
width:50%;
object-fit:cover;

}



.back-home-btn{

background:#556B2F;
color:white;
padding:12px 25px;
border-radius:25px;
border:none;
margin-bottom:25px;
cursor:pointer;
font-weight:600;

}

.categories{

display:grid;
grid-template-columns:repeat(8,1fr);
gap:20px;
margin:35px 0;

}


.category{

background:white;
padding:20px;
border-radius:25px;
text-align:center;

}


.circle{

background:#eef0d8;
border-radius:50%;
padding:20px;

}





.title-row{

display:flex;
justify-content:space-between;

}



.products{

display:grid;
grid-template-columns:repeat(6,1fr);
gap:20px;

}



.product-card{

background:white;
border-radius:20px;
padding:15px;

}


.product-card img{

width:100%;
height:220px;
object-fit:cover;
border-radius:15px;

}


.price{

font-weight:bold;
color:#55752e;
font-size:20px;

}


.product-card button{

width:100%;
margin-top:15px;
padding:10px;
border-radius:20px;
border:1px solid #55752e;
background:white;

}




.services{

margin-top:40px;
background:#f0efd9;
border-radius:25px;
display:flex;
justify-content:space-around;
padding:25px;

}


.services div{

text-align:center;

}


.back-home-btn{

background:#556B2F;
color:white;
padding:12px 25px;
border-radius:25px;
border:none;
margin-bottom:25px;
cursor:pointer;
font-weight:600;

}

.nav-links{
display:flex;
align-items:center;
gap:35px;
}


.nav-links a{
text-decoration:none;
color:#222;
font-size:18px;
}


.nav-links a:hover{
color:#55752e;
}


.nav-links .active{
color:#55752e;
font-weight:bold;
}